@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }

  input,
  textarea {
    @apply focus:outline-none focus:ring-2 focus:ring-slate-400;
  }
}
